{{> welcomemenu }}

<section class="ui center aligned middle column grid  segment">
    <div class="column">
        <h1>Weather Top 2.0 </h1>
      <h4> A web application companion to the WeatherTop 1000 </h4>
      <p>Log in or Sign Up to post and view weather updates now </p>
    
        <img class="ui image"
             src="https://cdn.glitch.global/b29c3fa3-b3bb-43f0-bd07-e8e25e67eb8f/weatherTop.png?v=1661954288026">
    </div>
</section>
